<h1>Events</h1>

<h2>Upcoming Events</h2>
<% @upcoming_events.each do |event| %>
  <p><%= link_to event.title, event %></p>
<% end %>

<h2>Past Events</h2>
<% @past_events.each do |event| %>
  <p><%= link_to event.title, event %></p>
<% end %>
